= simple_form_for(@form, url: session_sign_up_sleeping_path(id: params[:id])) do |f|
  = render 'sessions/sign_up_fields', f: f

.mastfoot
  .inner
    .text-center
      = link_to "Connexion", sessions_sign_in_form_path

