%h1 Bonjour, #{@recommendation.recommender.firstname}.

%p #{@recommendation.user.firstname + " " + @recommendation.user.lastname} t'as choisi pour le/la recommander comme ancien courseux.
%p Tu peux la/le confirmer sur la page de recommandation en cliquant ce lien:

%p= link_to "Recommander #{@recommendation.user.firstname}", edit_recommendation_url(@recommendation)

%p À très bientôt !

%br
%p Le Club CCEx
