%h1 Bonjour, #{@recommender.firstname}.

%p #{@user.firstname + " " + @user.lastname} t'as choisi pour le/la recommander comme ancien courseux.
%p Si elle ou il fait bien partie des anciens courseux, confirme-le en cliquant sur le lien suivant.

// TODO ajouter le lien

%p À très bientôt !

%br
%p Le Club CCEx
