%h1 Bonjour, #{@user.firstname}.

%p Inscris-toi au club business des anciens courseuses et courseux.

%p= link_to "Je m'inscris", sessions_sign_up_sleeping_form_url(@user.id)

%p À très bientôt !

%br
%p Le Club CCEx
