%h1 Bievenue, #{@user.firstname}.

%p Les deux utilistateurs que tu as choisi (ou un administrateur) ont confirmé que faisait bien partie des anciens courseux.
%p Il ne te reste plus qu'à cliquer ce lien pour choisir ton mot de passe et profiter du réseau des anciens courseux !

// TODO ajouter le lien

%p À très bientôt !

%br
%p Le Club CCEx
