%h1 Merci de t'être enregistré(e), #{@user.firstname}

%p Nous allons vérifier ton appartenance à la Course Croisière Edhec et, dès que ce sera fait, tu recevras un email pour terminer ton inscription.
%p À très bientôt !
%br
%p Le Club CCEx
