%div.nested-form-row
  - if sortable
    %div.nested-form-sort-handle
      %i.glyphicon.glyphicon-sort
  = fields
  %a.nested-form-remove-row.btn.btn-danger{ title: 'Remove' }
    %i.glyphicon.glyphicon-remove
