- content_for :full_width do
  = concept('layout/cell/header_image', image_path("illustration/image2.jpg"))

%h1 Ancienne, ancien. Sois ici chez toi.
    
%p
  Ce Club CCEx ouvre ses portes et on veut vraiment que tu t'y sentes bien. D'ailleurs si tu veux changer cette photo 
  qui te rappelle trop ton âge, sache qu'elle est temporaire et qu'on est ouvert à toute proposition pour améliorer ce site.

%blockquote
  La Course ne se termine pas au démontage. On peut encore en profiter de longues années. 
  Ces deux années à apprendre et partager, le Club CCEx voudrait les prolonger de manière simple et constructive.
    
%h2  la règle du jeu
    
%h2 Le fonctionnement
      
%p 
  The Firm has had a great deal of experience and is highly regarded for its expertise in the areas of design,
  construction administration, construction management, tight cost control and scheduling. 
  We have been involved in a wide range of building projects, including college facilities, banks, schools, 
  nursing homes, office buildings, churches, industrial buildings and major urban development projects.
%p
  The various projects have included new construction, renovation and adaptive re-use as a way of providing new space for 
  the various clients. Tessier Associates provides in-house programming, master planning, architectural design, construction 
  documentation, project administration and interior design services. Sustainable design, as appropriate for each client, 
  is incorporated in cost effective ways to benefit the long term value of the buildings created by the firm.
%p
  Together with selected consultants, The Firm provides complete professional services including landscape architecture, 
  structural engineering, electrical and mechanical engineering and site planning.
    
%h2 Le fonctionnement
  
%p 
  The Firm has had a great deal of experience and is highly regarded for its expertise in the areas of design,
  construction administration, construction management, tight cost control and scheduling. 
  We have been involved in a wide range of building projects, including college facilities, banks, schools, 
  nursing homes, office buildings, churches, industrial buildings and major urban development projects.
%p
  The various projects have included new construction, renovation and adaptive re-use as a way of providing new space for 
  the various clients. Tessier Associates provides in-house programming, master planning, architectural design, construction 
  documentation, project administration and interior design services. Sustainable design, as appropriate for each client, 
  is incorporated in cost effective ways to benefit the long term value of the buildings created by the firm.
%p
  Together with selected consultants, The Firm provides complete professional services including landscape architecture, 
  structural engineering, electrical and mechanical engineering and site planning.
