- content_for :full_width do
  = concept('layout/cell/header_image', image_path("illustration/image2.jpg"), headline: "Ancienne, ancien. Sois ici chez toi.")

%p.lead Le but du Club est de renforcer l'entraide professionnelle entre les anciens de la CCE. On a défini quatre grands thèmes pour commencer&nbsp;:

%ul
  %li 
    %strong Le recrutement :
    %span privilégiez les CCEx et leur entourage en postant ici vos offres d'emplois, stages, recherche d'associé(e)s…
  %li
    %strong Le business-development :
    %span pour fortifier les relations clients-fournisseurs au sein des CCEx.
  %li 
    %strong Partenariats :
    %span faites du co-développement, du co-branding en famille…
  %li
    %strong Recherche d'information :
    %span interrogez les CCEx qui travaillent dans un secteur dont vous ignorez presque tout !

%h2 Et surtout, le Club CCEx, c'est un annuaire 
%p pour joindre n'importe quel CCEx en deux clics ! Mais pour celà…

=link_to edit_profile_path, class: "btn btn-primary btn-lg" do
  %span.fa.fa-user
  %span Je renseigne mon profil en 2 minutes 
  

