//// Fixed navbar ////
.navbar.navbar-custom.navbar-inverse.navbar-static-top#nav
  .container
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-collapse"
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav.nav-justified
        li
          a href="#section0" Home
        li
          a href="#section1" En deux mots
        li
          a href="#section2" La règle du jeu
        li
          a href="#section3" Rejoignez le club
