.modal.fade#newPostModal(tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        %h2.text-center.modal-title#newPostModalLabel Créer un nouveau post

      .modal-body
        = concept('post/cell/form', @new_post)

      .modal-footer
        %button.btn.btn-default.btn-s(type="button" data-dismiss="modal") Annuler

