%div(class=css_classes)
  .thumb-picture= link_to concept("user/cell/decorator", model).(:thumb), concept('user/cell/decorator', model).(:path)
  %h3= concept('user/cell/decorator', model).(:linkname)
  %p= concept('user/cell/decorator', model).(:sum_up)
  %p= concept('user/cell/decorator', model).(:confirm_button)
