- if users.present?
  = concept('user/cell/card', collection: users, user: options[:user])
  - unless users.last_page?
    .col-md-4.col-sm-6.text-center#next= link_to 'Voir plus', 
      next_users_path(page: users.next_page), 
      remote: true, 
      rel: "next"
- else
  %h1.text-center Pas d'utilisateurs
