@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "colclearfix";
@import "dividers";

@import "anonymous";

@import "jasny-bootstrap/dist/css/jasny-bootstrap";
@import "logged";
@import "blocks";
@import "animation";

@import "users";
@import "posts";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Lobster);

html,
body {
  height: 100%;

  -webkit-font-smoothing: antialiased;

  button, .btn, a {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
  }

  a {
    text-decoration: none !important;
  }
}

/* Custom default button */
.btn-outline {
  &:hover {
    color: $cce-red;
    background-color: #fff;
  }
}

.modal.in { display: block!important; }
