@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "colclearfix";

@import "anonymous";

@import "jasny-bootstrap/dist/css/jasny-bootstrap";
@import "logged";
@import "blocks";
@import "grid_animation";

@import "users";
@import "posts";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
body {
  height: 100%;

  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;

  button, .btn, a {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
  }

  a {
    text-decoration: none !important;
  }
}

/* Custom default button */
.btn-outline {
  &:hover {
    color: $cce-red;
    background-color: #fff;
  }
}

.modal.in { display: block!important; }
