.divider {
  margin-left: auto;
  margin-right: auto;
  
  &-250 { height: 250px; }
  
  &-200 { height: 200px; }
  
  &-150 { height: 150px; }
  
  &-125 { height: 125px; }
  
  &-100 { height: 100px; }
  
  &-90 { height: 90px; }
  
  &-80 { height: 80px; }
  
  &-70 { height: 70px; }
  
  &-60 { height: 60px; }
  
  &-50 { height: 50px; }
  
  &-40 { height: 40px; }
  
  &-30 { height: 30px; }

  &-20 { height: 20px; }

  &-10 { height: 10px; }
  
  
//  &-logo:after {
//    background: url('hr/64-logo-hr.png') no-repeat top center;
//    content: "";
//    display: block;
//    height: 64px; /* height of the ornament */
//    position: relative;
//    top: -32px; /* half the height of the ornament */
//  }
}
