@-webkit-keyframes FadeIn { 
 0% { opacity:0; }
 100% {opacity: 1; }
}

.grid .card { -webkit-animation: FadeIn 0.5s linear; -webkit-animation-fill-mode:both; }

@for $i from 1 to 50 {
 .grid .card:nth-child(#{$i}) { -webkit-animation-delay: $i * .1s }
}
