%div.navmenu.navmenu-default.navmenu-fixed-left.offcanvas#navMenu(role="navigation")
  %a.navmenu-brand(href="#") Club CCEx
  %ul.nav.navmenu-nav
    %li.active= link_to "Home", root_path
    %li= link_to "Home", "#"
    %li= link_to "Home", "#"
.navbar.navbar-default.navbar-fixed-top
  %button.navbar-toggle(type="button" data-toggle="offcanvas" data-target="#navMenu" data-canvas="body")
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
